langgraph
langchain
langchain-core

langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters

langgraph-checkpoint-sqlite

sentence-transformers
faiss-cpu

ddgs

pypdf

python-dotenv

fastapi
uvicorn
python-multipart
requests

streamlit